:where(.css-dev-only-do-not-override-10r4h5g).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #fff !important;
    background-color: #111111 !important;
    border-color: #111111 !important;
}
