@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import './variable';

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%;
    line-height: 1.4;
}

.bg-primary {
    background-color: $--color-primary;
}

.color-primary {
    color: $--color-primary;
}

.bg-gray {
    background-color: $--color-gray;
}

.color-gray {
    color: $--color-gray;
}

.color-brown {
    color: $--color-brown;
}

.bg-brown {
    background-color: $--color-brown;
}

.color-whitesmoke {
    color: $--color-whitesmoke;
}

.bg-whitesmoke {
    background-color: $--color-whitesmoke;
}

.text-16px {
    font-size: $--text-base;
}

.text-15px {
    font-size: 1.5rem;
}

.text-20px {
    font-size: $--text-xl;
}

.text-24px {
    font-size: $--text-2xl;
}

.text-28px {
    font-size: $--text-3xl;
}

.text-30px {
    font-size: $--text-4xl;
}

.text-40px {
    font-size: $--text-5xl;
}

.text-48px {
    font-size: $--text-6xl;
}

.text-72px {
    font-size: $--text-7xl;
}

.flex-row-center {
    display: flex;
    align-items: center;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:focus,
:where(.css-dev-only-do-not-override-11lehqq).ant-input-outlined:focus-within {
    box-shadow: none;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: $--color-primary;
    border-color: $--color-primary;
    color: $--color-whitesmoke;
}

.hover-opacity:hover {
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.is-fixed {
    animation: is-fixed 0.3s forwards linear;
    left: 0;
    right: 0;
}

.transition-global {
    transition: all 0.3s linear;
}

@keyframes is-fixed {
    from {
        position: fixed;
        top: -100px;
    }

    to {
        position: fixed;
        top: 0;
        z-index: 1000;
    }
}

.ant-image-mask {
    display: none !important;
}

// Bodder fiter
.custom-collapse .ant-collapse-item {
    border-bottom: none;
}

.custom-collapse > .ant-collapse-item:last-child {
    border-bottom: none;
}

.custom-collapse .ant-collapse-header {
    border: none;
}

.custom-collapse .ant-collapse-content {
    border-top: none;
}

// // Thanh trượt
.filter-container {
    height: calc(100vh - 150px);
    /* Adjust the height to fit the available space */
    overflow-y: auto;
    /* Add vertical scrolling */
    padding-right: 10px;
    /* Add some padding to avoid cutting off the scrollbar */
    margin-right: -10px;
    /* Adjust margin to align content properly */
}

.ant-select-selection-item {
    font-size: 18px;
    font-weight: 500;
}

.ant-radio-button-wrapper {
    width: 80px;
    height: 60px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px !important;
    border: 0 solid $--color-primary;
}

.ant-radio-button-wrapper::before {
    display: none !important;
}

:where(.css-dev-only-do-not-override-11lehqq).ant-radio-button-wrapper {
    border: 1px solid $--color-primary;
}

:where(.css-dev-only-do-not-override-wal1qf).ant-radio-button-wrapper:first-child {
    border: none;
}

:where(.css-dev-only-do-not-override-xbtxp9).ant-radio-button-wrapper:first-child {
    border: none;
}

#payment_method {
    gap: 8px;
}

.message-client-text {
    font-size: 15px !important;
}

.message-client-icon {
    font-size: 15px;
}

.table-order-admin:hover {
    cursor: pointer;
}

.select-sort-order .ant-select-selector {
    font-size: 16px;
}
