.revenue-chart-container {
    background-color: #f5f7fa;
  }
  
  .ant-radio-button-wrapper-checked {
    background-color: #1890ff;
    color: white;
  }
  
  .ant-radio-button-wrapper {
    border-color: #e4e4e7;
  }
  .ant-radio-button-wrapper {
    font-size: 10px; 
    padding: 3px 7px; 
  }
  .ant-radio-group {
    display: flex !important;
  }
  